<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <title>my-package</title>
    </head>
    <style>
        .active {
            background-color: #ddd;
        }
        .message-box {
            padding: 10px 20px;
            background: #4fc08d;
            border: 1px solid #42b983;
        }
        .message-box-close {
            float: right;
        }
    </style>
    <body>
        <!-- 宿主文件 -->
        <div id="app">
            <!-- 弹窗组件 -->
            <!-- <message :show="isShow" @close="isShow=$event"> -->
            <!-- <message :show.sync="isShow" @update:isShow="false"> -->
            <message :show.sync="show">
                <!-- 命名为 title 插槽内容 -->
                <template v-slot:title="slotProps">
                    <strong>恭喜</strong>
                    <strong>{{title}}</strong>
                    <strong>{{slotProps.title}}</strong>
                </template>
                <!-- 默认插槽内容 -->
                <!-- <template v-slot:default>defaultcontent</template> -->
                <template>
                    新增内容成功
                </template>
            </message>
            <h2 :title="title">
                <!-- 插值文本 -->
                {{title}}
            </h2>
                {{pack}}
                <!-- 新增内容 -->
                <!-- <pack-add @add-pack="addPack"></pack-add> -->
                <pack-add v-model="pack" @add-pack="addPack"></pack-add>
                <!-- <pack-add :value="pack" @input="pack=$event" @add-pack="addPack"></pack-add> -->
                
                <!-- 列表组件 -->
                <pack-list :packages='packages'></pack-list>
                <!-- 物件总数 -->
                <p>
                    <!-- 表达式 -->
                    <!-- 物件总数： {{packages.length + '个'}} -->
                    <!-- {{total}} -->
                    <!-- 监听器 -->
                    {{totalCount}}
                </p>
        </div>
        
        <script src="vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
        <script>
            // 弹窗组件
            Vue.component('message',{
                props: {
                    show: {
                        type: Boolean,
                        default: false
                    },
                },
                template: `
                    <div class="message-box" v-if="show">
                        <!-- 具名插槽 -->
                        <slot name="title" title="来自子组件的内容"></slot>
                        <!-- 通过 slot 获取传入内容 -->
                        <slot></slot>
                        <!-- <span class="message-box-close" @click="$emit('close',this.show)">X</span> -->
                        <span class="message-box-close" 
                            @click="$emit('update:show',this.show)">X</span>
                    </div>
                `
            })
            // 内容新增
            Vue.component('pack-add',{
                // data() {
                //     return {
                //         pack: 'miao',
                //     }
                // },
                props: 
                ['value'],
                // {
                //     value: {
                //         type: String,
                //         default: ''
                //     },
                // },
                methods: {
                    addPack() {
                        // 派发事件通知父组件新增课程
                        // this.$emit('add-pack',this.pack);
                        this.$emit('add-pack');
                        // this.pack='';
                    },
                    onInput(e) {
                        this.$emit('input',e.target.value)
                    }
                },
                template: `
                    <div>
                        <!-- 用户输入 -->
                        <!-- {{pack}} -->
                        <p>
                            <!-- <input v-model="pack" type="text" @keydown.enter="addPack" /> -->
                            <input type="text" :value="value" 
                            @input="onInput"
                            @keydown.enter="addPack" />
                            <button @click="addPack">新增</button>
                        </p>    
                    </div>
                `
            })
            // 口袋列表组件
            Vue.component('pack-list', {
                data() {
                    return {
                        selectedPack: '',
                    }
                },
                props: {
                    packages: {
                        type: Array,
                        default: []
                    },
                },
                template: `
                    <div>
                        <!-- 条件渲染 -->
                        <p v-if="packages.length == 0">没有糖</p>
                        <!-- 列表渲染 -->
                        <div class="pack-list" v-else>
                            <div v-for="c in packages" :key="c" :class="{active: selectedPack === c}" 
                                :style="{backgroundColor: selectedPack === c ? '#ddd' : 'transparent'}"
                                @click="selectedPack = c">
                                <div>{{ c }}</div>
                            </div>
                        </div>    
                    </div>
                `
            })
            // 模拟异步数据的调用
            function getPackges(params) {
                return new Promise(resolve => {
                    setTimeout(() => {
                        resolve(['糖','sweet 糖'])
                    }, 2000);
                })
            }
            // 1.创建vue 实例
            const app = new Vue({
                el: '#app',
                data() {
                    return {
                        show: false,
                        title: '我的口袋',
                        pack: 'miao',
                        // selectedPack: '',
                        totalCount: '',
                        // packages: ['糖','sweet 糖'],
                        packages: []
                    }
                },
                // 组件实例已创建，由于未挂载，dom不存在
                async created () {
                    const packages = await getPackges();
                    this.packages = packages;
                },
                // 组件已挂在，dom 已存在
                // mounted () {
                //     ;
                // },
                methods: {
                    addPack() {
                        // 1. 添加 something 同 packages
                        this.packages.push(this.pack)
                        // 2. 清空 packages
                        this.pack = ''

                        // 显示提示信息
                        this.show=true;
                    }
                },
                computed: {
                    total() {
                        // 计算属性有缓存性，如果值没有发生变化，则页面不会重新渲染
                        return this.packages.length + '个' 
                    }
                },
                // watch 监听函数页面加载不会立即执行，只有监听的值变化后才会执行
                // watch: {
                //     packages(newValue, oldValue) {
                //         this.totalCount = newValue.length + '个'
                //     }
                // },
                // 添加参数，immediate 是立即执行的选项
                watch: {
                    packages: {
                        immediate: true,
                        deep: true,  // 数据结构比较深时需要添加此选项(目前数组只有一层)
                        handler(newValue, oldValue) {
                            this.totalCount = newValue.length + '个'
                        }
                    }
                },
            })
            setTimeout(() => {
                app.title = '有糖'
            }, 2000)

            console.log(app.$options.render)
        </script>
    </body>
</html>