<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <title>my-package render模板</title>
    </head>
    <style>
        .active {
            background-color: #ddd;
        }
    </style>
    <body>
        <!-- 宿主文件 -->
        <div id="app">
            <h2 :title="title">
                <!-- 用户输入 -->
                {{pack}}
                <p><input v-model="pack" type="text" @keydown.enter="addPack" /></p>
                <button @click="addPack">新增</button>
                <br>
                <!-- 插值文本 -->
                {{title}}
                <!-- 条件渲染 -->
                <p v-if="packages.length == 0">然而并没有</p>
                <!-- 列表渲染 -->
                <div class="pack-list" v-else>
                    <div v-for="c in packages" :key="c" :class="{active: selectedPack === c}" 
                        :style="{backgroundColor: selectedPack === c ? '#ddd' : 'transparent'}"
                        @click="selectedPack = c">
                        <div>{{ c }}</div>
                    </div>
                </div>
            </h2>
        </div>
        
        <script src="vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
        <script>
            // 1.创建vue 实例
            const app = new Vue({
                el: '#app',
                data() {
                    return {
                        title: '我的裤兜',
                        pack: 'miao',
                        selectedPack: '',
                        // packages: ['糖','sweet 糖'],
                        packages: []
                    }
                },
                methods: {
                    addPack() {
                        // 1. 添加 something 同 packages
                        this.packages.push(this.pack)
                        // 2. 清空 packages
                        this.pack = ''
                    }
                }
            })
            setTimeout(() => {
                app.title = '有糖'
            }, 3000)

        </script>
    </body>
</html>